@use '../rulsAndVars' as *;
footer{
  width: 100%;
  // height: $footerHeight;
  background: $bodyBg;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: fixed;
  // bottom: 0;
  p{
    font-size: 3rem;
    color: $mainColor;
    a{
      color: $secondColor;
    }
  }
}